<p>NOTE: Because Monday (Jan 18th) falls on MLK day, we will meet on Wed.(Jan 20th) and Fri.(Jan 22) instead that week.</p>
<table>
<colgroup>
<col width="11%" />
<col width="32%" />
<col width="56%" />
</colgroup>
<thead>
<tr class="header">
<th align="left">Date</th>
<th align="left">Class</th>
<th align="left">Topics</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left"><p>Jan. 4</p></td>
<td align="left"><p>Setup &amp; Intro (Tim)</p></td>
<td align="left"><ul>
<li>Intro to course</li>
<li>Intro to R &amp; RStudio</li>
<li>Data structures: vectors, matricies, factors</li>
</ul></td>
</tr>
<tr class="even">
<td align="left"><p>Jan. 6</p></td>
<td align="left"><p>Data Structures (Hyeonsu)</p></td>
<td align="left"><ul>
<li>Data structures (continued): data frames &amp; reading data</li>
<li>Subsetting</li>
</ul></td>
</tr>
<tr class="odd">
<td align="left"><p>Jan. 11</p></td>
<td align="left"><p>Functions &amp; Plotting (tim)</p></td>
<td align="left"><ul>
<li>Creating functions</li>
<li>Plotting with GGPLOT2(1)</li>
</ul></td>
</tr>
<tr class="even">
<td align="left"><p>Jan. 13</p></td>
<td align="left"><p>Plotting &amp; control flow (Hye)</p></td>
<td align="left"><ul>
<li>Plotting with GGPLOT2(2)</li>
<li>Vectorization</li>
<li>Writing data</li>
</ul></td>
</tr>
<tr class="odd">
<td align="left"><p>Jan. 20</p></td>
<td align="left"><p>Data preparation &amp; cleaning(Tim)</p></td>
<td align="left"><ul>
<li>Data frame manipulation: dplyr</li>
<li>Split-apply-combine pattern: plyr</li>
</ul></td>
</tr>
<tr class="even">
<td align="left"><p>Jan. 22</p></td>
<td align="left"><p>Data cleaning (Hyeonsu)</p></td>
<td align="left"><ul>
<li>Data frame manipulation: tidyr</li>
<li>Wrap-up</li>
</ul></td>
</tr>
</tbody>
</table>
