<p>NOTE: Because Monday (Jan 18th) falls on MLK day, we will meet on Wed.(Jan 20th) and Fri.(Jan 22) instead that week.</p>
<ol style="list-style-type: decimal">
<li>Jan.4 - Setup &amp; Intro (Tim)</li>
</ol>
<ul>
<li>Intro to course - syllabus - weekly assignments</li>
<li>Intro to R &amp; RStudio</li>
<li>Data structures: vectors, matricies, factors, lists</li>
<li>Supplemental lesson - R project Management</li>
</ul>
<ol start="2" style="list-style-type: decimal">
<li>Jan. 6 - Data structures/subsetting (Hyeonsu)</li>
</ol>
<ul>
<li>Data structures (continued): data frames &amp; reading data</li>
<li>Subsetting</li>
</ul>
<ol start="3" style="list-style-type: decimal">
<li>Jan. 11 - Functions &amp; Plotting (Tim)</li>
</ol>
<ul>
<li>Creating functions</li>
<li>Plotting with GGPLOT2(1)</li>
</ul>
<ol start="4" style="list-style-type: decimal">
<li>Jan. 13 - Plotting, control flow &amp; writing data (Hyeonsu)</li>
</ol>
<ul>
<li>Plotting with GGPLOT2(2)</li>
<li>Vectorization</li>
<li>Control flow</li>
<li>Supplemental lesson - Writing data</li>
</ul>
<ol start="5" style="list-style-type: decimal">
<li>Jan. 20 (WED) - Data preparation &amp; cleaning (Tim)</li>
</ol>
<ul>
<li>Data frame manipulation: Dplyr</li>
<li>Split-apply-combine: plyr</li>
</ul>
<ol start="6" style="list-style-type: decimal">
<li>Jan. 22 (FRI) - Data cleaning (Hyeonsu)</li>
</ol>
<ul>
<li>Data frame manipulation: Tidyr</li>
<li>Wrap-up</li>
</ul>
