<p>NOTE: Because Monday (Jan 18th) falls on MLK day, we will meet on Wed.(Jan 20th) and Fri.(Jan 22) instead that week.</p>
<table>
<colgroup>
<col width="11%" />
<col width="32%" />
<col width="56%" />
</colgroup>
<thead>
<tr class="header">
<th align="left">Date</th>
<th align="left">Class</th>
<th align="left">Topics</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left"><p>Jan. 4</p></td>
<td align="left"><p>Setup, Intro, &amp; Data Structures</p></td>
<td align="left"><ul>
<li>Intro to course</li>
<li><a href="http://goo.gl/itrd9l">Intro to R &amp; RStudio</a></li>
<li><a href="http://goo.gl/Cvp90u">Data structures: vectors, matricies, factors</a></li>
<li><a href="http://goo.gl/yaScGC">Data frames &amp; reading data</a></li>
<li><a href="http://goo.gl/CjcFfT">Subsetting R objects</a></li>
</ul></td>
</tr>
<tr class="even">
<td align="left"><p>Jan. 6</p></td>
<td align="left"><p>Lab: R basics, data structures &amp; subsetting</p></td>
<td align="left"><ul>
<li><a href="http://www.piazza.com/class_profile/get_resource/ij0cpi5tuaa4wv/ij39xfsc84v1d8">Programming workbook</a></li>
<li><a href="http://www.piazza.com/class_profile/get_resource/ij0cpi5tuaa4wv/ij39xfsc84v1d8">Assignment</a></li>
</ul></td>
</tr>
<tr class="odd">
<td align="left"><p>Jan. 11</p></td>
<td align="left"><p>Functions &amp; Plotting</p></td>
<td align="left"><ul>
<li><a href="http://goo.gl/tb3DR1">Creating functions</a></li>
<li><a href="http://goo.gl/JS1Sv0">Plotting with GGPLOT2</a></li>
</ul>
<p><strong>Supplemental Lessons</strong></p>
<ul>
<li><a href="http://goo.gl/fmFD0O">Vectorization</a> &amp; <a href="http://goo.gl/6ELDjh">writing data</a></li>
<li><a href="http://goo.gl/Sv2JXF">Control flow</a> (conditional statements, loops)</li>
</ul></td>
</tr>
<tr class="even">
<td align="left"><p>Jan. 13</p></td>
<td align="left"><p>Lab: Functions &amp; GGPLOT2</p></td>
<td align="left"><ul>
<li>Challenges &amp; assignment</li>
</ul></td>
</tr>
<tr class="odd">
<td align="left"><p>Jan. 20</p></td>
<td align="left"><p>Data preparation &amp; cleaning</p></td>
<td align="left"><ul>
<li><a href="http://ucsdlib.github.io/r-novice-gapminder/13-dplyr.html">Data frame manipulation: dplyr</a></li>
<li><a href="http://ucsdlib.github.io/r-novice-gapminder/14-tidyr.html">Data frame mainpulation: tidyr</a></li>
</ul></td>
</tr>
<tr class="even">
<td align="left"><p>Jan. 22</p></td>
<td align="left"><p>Lab: Data prep &amp; cleaning</p></td>
<td align="left"><ul>
<li>Wrap-up</li>
<li><a href="">In-class problems</a> &amp; assignment</li>
<li><a href="http://goo.gl/k4dzAq">In-class problems solutions</a></li>
</ul></td>
</tr>
</tbody>
</table>
